<!DOCTYPE html>
<html>
<head>
	<title>Yelp Camp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="/styles//app.css"> -->
	<link rel="stylesheet" type="text/css" href="\styles\main.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Rammetto+One|Nanum+Gothic:800" rel="stylesheet">
	<link rel="icon" href="\images\\camping-program-icon.png">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body class="<%= page %>">
	<nav id="header" class="navbar sticky-top navbar-expand-lg navbar-light">
	  
	  <a class="navbar-brand" href="/"><img src="/images/camping-program-icon.png"><span class="name">YelpCamp</span></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/">Sign Up</a>
	      </li>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/">Logout</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

