
<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="icon" href="./images/camping-program-icon.png">
	<link rel="stylesheet" type="text/css" href="./styles/missing.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Coiny|Indie+Flower|Rammetto+One" rel="stylesheet">
</head>
<body>
	<div id="box" class="container">
		<div  id="box_2" class="card text-center">
		  <div class="card-body" style="opacity:1;">
		  	<p class="card-text flower">You wandered off the grid too soon...</p>
		    <h1 class="card-title rammetto">404</h1>
		    <a id="button" href="/" class="btn btn-info">Back to <img src="/images/camping-program-icon.png"><span class="name">YelpCamp</span></a>
		  </div>
		</div>
	</div>	
</body>
</html>

