<%- include ./partials/header.ejs %>

<div class="container">
	<div class="row" style="margin:20px 0;">
		<h1 class="col align-self-center" style="text-align:center;">Add a New Campground</h1>
	</div>
	<div class="row">
		<div style="width:30%; margin: 0 auto;">
			<form method="POST" action="/campgrounds">
				<div class="form-group mx-sm-3 mb-2" style="max-width:500px;">
					<input class="form-control" type="text" name="name" placeholder="Campground Name" value="">
				</div>
				<div class="form-group mx-sm-3 mb-2" style="max-width:500px;">
					<input class="form-control" type="text" name="image" placeholder="Image URL" value="">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<a class="col align-self-center" style="text-align:center;margin:20px 0;" href="/campgrounds">Go Back</a>
	</div>	
</div>
<%- include ./partials/footer.ejs %>